h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #2c3e50;                   
    font-size: 2.5em; /*aumenta o título*/
    margin-top: 20px; /*espaço acima do título*/
    margin-bottom: 20px; /*espaço abaixo do título*/
}

button{ 
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 1rem;
    color: black;
    background: white;
    cursor: pointer;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #E6E6FA;
    display: flex;   
    align-items: center; /* Alinha verticalmente */
    height: 100vh; /* Faz o body ocupar a altura total da tela */  
    flex-direction: column; /* Organiza os elementos em coluna */
    text-align: center; /* Centraliza o texto */ 
}

.image{
    width: 150px;
    height: auto;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    border-collapse: collapse;
}

table th, table td {
    padding: 8px 8px; 
    border: 1px solid #ddd; 
}

table th {
    background-color: #2c3e50;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2; 
}